<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>微笑时刻</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link href="/__PUBLIC__favicon.ico" rel="Shortcut  Icon" type="images/x-icon">

    <link rel="stylesheet" href="__PUBLIC__/dist/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/css/style.css">
</head>
<body>
<!--以上为公共引入-->

<!--header具体定制-->
<div class="am-g rainbow-box">
    <div class="am-u-sm-2 rainbow-block-1"></div>
    <div class="am-u-sm-2 rainbow-block-2"></div>
    <div class="am-u-sm-2 rainbow-block-3"></div>
    <div class="am-u-sm-2 rainbow-block-4"></div>
    <div class="am-u-sm-2 rainbow-block-5"></div>
    <div class="am-u-sm-2 rainbow-block-6"></div>
</div>
<header data-am-widget="header" class="wx-header">
    <div class="wx-header-nav wx-header-left">
        <a href="#" class="go-back"><img src="__PUBLIC__/dist/img/svg/icon-back.svg" class="icon-back" alt="上一步">上一步</a>
    </div>

    <h1 class="wx-header-logo">
        <img src="__PUBLIC__/dist/img/nav_title.png" alt="微笑时刻">
    </h1>

    <div class="wx-header-nav wx-header-right">
        <a href="#">
            <img src="__PUBLIC__/dist/img/svg/icon-phone.svg" alt="电话预约">
        </a>
    </div>
</header>
<!--page content-->
<section class="pro-detail-wrap">
    <!--part-1-->
    <div class="part-1">
        <div class="pro-cover" style="background-image: url('/dist/img/test-img-2.jpg')"></div>
        <div class="pro-title ">
            <span class="name">艺术照 | 2小时</span>
            <span class="price">￥<span class="price-num">123</span></span>
        </div>
    </div>
    <!--part-2-->
    <div class="part-2">
        <ul class="pro-info">
            <li class="pro-info-list ">
                <i class="spot"></i>
                <div class="list-box am-g">
                    <div class="list-name am-u-sm-2">服装<br>造型</div>
                    <div class="list-info am-u-sm-10">提供男士1套/人，女士1套/人；全场服装任选，最多可自带服装1套/人(自带服装计入总数内)</div>
                </div>
            </li>
            <li class="pro-info-list ">
                <i class="spot"></i>
                <div class="list-box am-g">
                    <div class="list-name am-u-sm-2">服装<br>造型</div>
                    <div class="list-info am-u-sm-10">提供男士1套/人，女士1套/人；全场服装任选，最多可自带服装1套/人(自带服装计入总数内)</div>
                </div>
            </li>
            <li class="pro-info-list ">
                <i class="spot"></i>
                <div class="list-box am-g">
                    <div class="list-name am-u-sm-2">服装<br>造型</div>
                    <div class="list-info am-u-sm-10">提供男士1套/人，女士1套/人；全场服装任选，最多可自带服装1套/人(自带服装计入总数内)</div>
                </div>
            </li>
            <li class="pro-info-list ">
                <i class="spot"></i>
                <div class="list-box am-g">
                    <div class="list-name am-u-sm-2">服装<br>造型</div>
                    <div class="list-info am-u-sm-10">提供男士1套/人，女士1套/人；全场服装任选，最多可自带服装1套/人(自带服装计入总数内)</div>
                </div>
            </li>
            <li class="pro-info-list ">
                <i class="spot"></i>
                <div class="list-box am-g">
                    <div class="list-name am-u-sm-2">服装<br>造型</div>
                    <div class="list-info am-u-sm-10">提供男士1套/人，女士1套/人；全场服装任选，最多可自带服装1套/人(自带服装计入总数内)</div>
                </div>
            </li>
            <li class="pro-info-list ">
                <i class="spot"></i>
                <div class="list-box am-g">
                    <div class="list-name am-u-sm-2">服装<br>造型</div>
                    <div class="list-info am-u-sm-10">提供男士1套/人，女士1套/人；全场服装任选，最多可自带服装1套/人(自带服装计入总数内)</div>
                </div>
            </li>

        </ul>
    </div>
    <!--part-3-->
    <div class="part-3">
        <h2 class="sample-title">拍摄样片</h2>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }" >
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg"  alt=""/>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg"  alt=""/>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg"  alt=""/>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg"  alt=""/>
                    </a>
                </div>
            </li>
        </ul>

    </div>

    <!--btn-->
    <div class="btn-box">
        <button class="am-btn wx-btn wx-btn-green">立即预约</button>
    </div>
</section>
<!--page content end-->



<!--common js-->
<script src="__PUBLIC__/dist/js/jquery.min.js"></script>
<script src="__PUBLIC__/dist/js/amazeui.min.js"></script>

<!--private js-->

</body>
</html>